@font-face {
  font-family: 'Shantell Sans';
  src: url('Shantell_Sans/static/ShantellSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('Quicksand/static/Quicksand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.first {
  font-family: Arial, sans-serif;
  height: 150%;
  background-image: url('wow2.png');
  background-size: cover;
  background-position: center;
  display: block;
  transition: all 1s ease-in-out;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #221628;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  align-items: center;
  border-bottom: 0.1em solid #000000;
}

header img {
  height: 4em;
  width: 4em;
  margin-left: 3rem;
}

nav {
  display: flex;
  flex-direction: row;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 2em;
}

nav a {
  color: #ac3b61;
  text-decoration: none;
}

nav a:hover {
  color: #123c69;
}

h2 {
  text-align: center;
  margin-bottom: 5em;
  margin-top: 2em;
}

#nice {
  text-align: left;
  transition: all 0.5s ease-in-out;
  font-size: 3.5em;
  color: black;
  position: absolute;
  top: 50%;
  left: 20%;
  transition: all 1s ease-in-out;
}

#nice:hover {
  color: white;
  transition: all 1s ease-in-out;
}

#top {
  margin: 5em;
}

.second h2 {
  text-align: center;
  color: rgb(19, 116, 200);
}

.second {
  background-color: rgb(80, 25, 25);
  padding: 3em 2em 1.5em 2em; /* top right bottom left */
}

.midjourney {
  transition: all 0.5s ease-in-out;
  color: white;
}

.midjourney:hover {
  color: #8AAAE5;
  transition: all 0.5s ease-in-out;
  font-size: 1.5em;
}

.third {
  padding: 7.5em 11em 5em 11em;
  background: linear-gradient(-45deg, #151515, #090909, #181819, #191819);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	animation: gradient 15s ease infinite;
}

.container {
  display: flex;
  flex-direction: row;
}

.boxp {
  color: white;
  font-size: 2em;
  transition: all 0.5s ease-in-out;
}

.boxp .works {
  color: rgb(6, 142, 195);
}

.boxp a {
  text-decoration: none;
}

.rounded-box {
  border-radius: 2em; 
  padding: 4em;
  box-shadow: 0 1em 1em rgba(50, 46, 46, 0.3);
  width: 50%;
  height: 10em;
  background: linear-gradient(-45deg, #000000, #0e0e0e, #060606, #141414);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	animation: gradient 15s ease infinite;
  animation-play-state: running;
  transition: 1s all ease-in-out;
  border: 1px solid rgb(55, 53, 53);
  position: relative;
}

.rounded-box:hover {
  animation-play-state: paused;
  background: rgb(31, 31, 31);
  transition: 1s all ease-in-out;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.popup-box {
  position: absolute;
  top: 25%;
  right: -10em;
  width: 10em;
  height: 50%;
  border-radius: 0em 2em 2em 0em;
  background-color: rgb(28, 92, 106);
  align-items: center;
  color: #fff;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  border: 1px solid rgb(55, 53, 53);
  display: flex;
}

.rounded-box:hover .popup-box {
  opacity: 1;
}

.popup-box p {
  margin-left: 1em;
}

.popup-box a {
  text-decoration: none;
  color: white;
  transition: 0.5s all ease-in-out;
}

.popup-box a:hover {
  color: #8AAAE5;
  transition: 0.5s all ease-in-out;
}

.lists {
  display: flex;
  justify-content: space-between;
  padding-right: 14em;
}

.lists ul {
  margin-top: -3em;
}

.lists ul li {
  margin-top: 0.5em;
}

.list-item {
  font-family: 'Shantell Sans', sans-serif;
}

.lists a {
  text-decoration: none;
  color: white;
  transition: all 0.5s ease-in-out;
}

.lists a:hover {
  color: #8AAAE5;
  transition: all 0.5s ease-in-out;
}

.list-title {
  color: rgba(188, 182, 182, 0.812);
  margin-bottom: 1.5em;
  font-family: 'Quicksand', sans-serif;
}

.socialheader {
  margin-right: -1.5em;
  color:rgb(12, 170, 175);
  margin-top: 0.25em;
}

.dafoot {
  display: flex;
}

.logo {
  width: 5em;
  height: 5em;
  margin-bottom: 3em;
  border-radius: 5em;
  margin-left: 3em;
}

.foot {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: rgb(11, 2, 48);
  color: rgb(173, 159, 159);
  padding: 0.5em;
  font-family: 'Alegreya', serif; 
  padding-top: 6em;
  padding-left: 7em;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 47em;
}

.socials a {
  display: inline-block;
  width: 2em;
  height: 2em;
  margin: 0 1em;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999px;
}

.icon-instagram {
  background-image: url('instagram.png');
}

.icon-github {
  background-image: url('github.png');
}

.icon-twitter {
  background-image: url("twitter.png");
}

.icon-spotify {
  background-image: url("spotify.png")
}