@font-face {
    font-family: 'Shantell Sans';
    src: url('Shantell_Sans/static/ShantellSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Quicksand';
    src: url('Quicksand/static/Quicksand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Zilla Slab';
    src: url('Zilla_Slab/ZillaSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @-webkit-keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0; 
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(-45deg, #000000, #070707, #0b0b0b, #020202);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	animation: gradient 15s ease infinite;
  animation-play-state: running;
}

  header {
    position: fixed;
    top: -10em;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    align-items: center;
    border-bottom: 0.1em solid #000000;
    opacity: 1;
    transition: 1s all ease-in-out;
  }
  header.visible {
    top: 0;
  }

  .logohead {
    margin-left: 3rem
  }

  header img {
    height: 4em;
    width: 4em;
    border-radius: 5em;
  }

  nav {
    display: flex;
    flex-direction: row;
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 2em;
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
    
  }
  
  nav a:hover {
    color: #2884e7;
  }

/* main */
#blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(125px);
    overflow: hidden;
}
#blob {
    background-color: white;
    height: 12em;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(
        to right,
        rgb(103, 228, 186),
        rgb(158, 123, 228),
        rgb(233, 184, 127)
    );
    animation: rotate 20s infinite;
    z-index: -999;
    overflow: hidden;
    transition: all 1s ease-in-out;
}
@keyframes rotate {
    from {
        rotate: 0deg;
    }
    50% {
        scale: 1 1.5;
    }
    to {
        rotate: 360deg;
    }
}

#text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
  color: rgb(17, 16, 16);
  font-family: 'Zilla Slab', sans-serif;
  transition: 0.5s all ease-in-out;
}

#text-box h1 {
  font-size: 3em;
  margin: 0;
}
#text-box h1:hover {
  color: #ff2400;
  transition: 0.5s all ease-in-out;
}
#text-box p {
  color: transparent;
  cursor: default;
  transition: 0.5s all ease-in-out;
  opacity: 0.5;
}

#text-box2 {
  position: absolute;
  z-index: 3;
  top: 23%;
  left: 10%;
  cursor: default;
}
#text-box2:hover {
  cursor: text;
}
#target2 {
  color: transparent;
  opacity: 0,5;
  font-family:'Lucida Sans', sans-serif;
  transition: all 1s ease-in-out;

}
#target2:hover {
  color: rgb(224, 17, 17);
  transition: all 1s ease-in-out;
}


/* main ends */
