form {
    width: 50%;
    margin: 0 auto;
  }

  h1 {
    text-align: center
  }

  label {
    font-weight: bold;
  }

  .imagespot {
    background-color: green
  }

  section h2 {
    text-align: center;
  }
