body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,#edc7b7, #eee2dc, #bab2b5);
    background-image: url('anotherbackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #221628;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    align-items: center;
    border-bottom: 0.1em solid #000000;
  }

  header img {
    height: 4em;
    width: 4em;
    margin-left: 3rem;
  }
  
  nav {
    display: flex;
    flex-direction: row;
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 2em;
  }
  
  nav a {
    color: #ac3b61;
    text-decoration: none;
    
  }
  
  nav a:hover {
    color: #123c69;
  }

  h2 {
    text-align: center;
  }

  .nice {
    text-align: center;
    font-size: 5em;
    color: #000000;
  }

  main section {
    margin: 10em
  }
  
  footer {
    margin-top: 25em;
    background-color: rgb(15, 3, 64);
    color: rgb(154, 142, 142);
    padding: 0.5em;
    text-align: center;
    font-family: 'Lato', serif; 
  }
  